<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this comment from being saved:</h2>
​
      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
​
​	<div class="form-group"></div>
		<%= f.text_field :tweet_text, placeholder: "What's happening?", class: "form-control" %>
		</div>
	<div class="form-group">
    <%= f.text_field :username,
    placeholder: "username", class: "
    form-control" %>
  </div>
	<div class="form-group"></div>
    <%= f.submit "New Tweet", class: "pull-right btn btn-default"
    </div> 
<% end %>